body{
  background: black;
}

button{
  background: green;
  color: white;
  height: 200px;
  width: 250px;
  text-align: center;
  margin-left: 250px;
  margin-top: 250px;
  font-size: 30px;
  border-radius: 300px;
  border: 2px dashed white;
}
